.teamLogo .alfa {
    display:none;
}

.teamLogo .alpine {
    display:none;
}

.teamLogo .aston {
    display:none;
}

.teamLogo .at {
    display:none;
}

.teamLogo .ferrari {
    display:none;
}

.teamLogo .haas {
    display:none;
}

.teamLogo .mcl {
    display:none;
}

.teamLogo .merc {
    display:none;
}

.teamLogo .rb {
    display:none;
}

.teamLogo .renault {
    display:none;
}

.teamLogo .rp {
    display:none;
}

.teamLogo .williams {
     display:none;
 }