.teamLogo .mercedes {
    display:none;
}

.teamLogo .redbull {
    display:none;
}

.teamLogo .ferrari {
    display:none;
}

.teamLogo .mclaren {
    display:none;
}

.teamLogo .alpine {
    display:none;
}

.teamLogo .alphatauri {
    display:none;
}

.teamLogo .astonmartin {
    display:none;
}

.teamLogo .williams {
    display:none;
}

.teamLogo .alfaromeo {
    display:none;
}

.teamLogo .haas {
    display:none;
}
